// --- variables ---------------------------------------------------------------

$base-font-family: Lato, Helvetica, sans-serif;

// --- variables: colors -------------------------------------------------------

$color-white: #fff;

$color-salmon: #e76c56;
