// --- layout ------------------------------------------------------------------

.l-container {
  min-width: 94rem;
  max-width: 118rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.l-main {}

.l-container--signup {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.l-container--login {
  @extend %vertical-align;
}
