// --- footer ------------------------------------------------------------------

.footer {
  margin-top: 8rem;
  font-size: 1.3rem;
}

.footer__text {
  margin: 0;

  a {
    color: $color-white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
