// --- footer ------------------------------------------------------------------

.footer {
  font-size: 1.3rem;
}

.footer__text {
  margin: 0;

  a {
    color: $color-white;
    text-decoration: none;

    &:hover {
      border-bottom: .1rem solid $color-white;
    }
  }
}
