// --- login -------------------------------------------------------------------

.login {}

.login__headline {
  margin: 7.5rem 0;
  font-size: 5.4rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
